body, html {
    height: 100%;

}
body{
    position: relative;
}

#Main-Photo {
    margin-top: 70px;

}

#Intro {
    margin-top: 150px;
}

#Intro h1 {
    text-decoration: underline;
}
#Intro p {
    font-weight: bold;
}

main{
    margin-bottom: 220px;
}
.footer{
    position: absolute;
    width: 100%;
    min-height: 320px;
    bottom: 40px;
    left: 0;
}
